body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

/* Básicamente lo que hace width es ajustar el tamaño del objeto o en este caso imágen en cuiestión según las necesidades, en este caso
max-width es para ajustar el tamaño general de la imagen, en este ejemplo se utiliza el 100% del tamaño para no perder reoslución.*/
/* Y border se utiliza pra poner un contorno en el objeto o en este caso la imágen. */

.imagen-postwork {
    max-width: 100%;
    border: 5px solid red;
}
.imagen-work {
   max-width: 100%;
}